/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/app/Models/Trip.php
/app/Models/User.php
/database/migrations/2024_04_28_124613_create_trips_table.php
/database/migrations/2024_04_28_125400_create_users_table.php
/database/migrations/2024_04_28_125605_create_flights_table.php
/database/migrations/2024_04_28_125733_create_activities_table.php
/database/migrations/2024_04_28_125834_create_lodges_table.php